.map-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 0px;
  width: 100%;
}

.plot {
  width: 15px;
  height: 15px;
  margin-right: 0.6%;
  border: 1px solid black;
}

.plot:last-child {
  margin-right: 0;
}

.plot-description {
  font-size: 15px;
  margin-right: 2%;
}
