.Map table {
  border-collapse: collapse;
  background-color: rgb(0, 0, 0);
} 
.Map {
  text-align: center;
  display: grid;
  place-items: center;
  /* background-color: #040126; */
}
.loading{
  margin-top: 10%;
  margin-bottom: 10%;
  color: #040123;
}