.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #2e304a;
  width: 100%;
  margin-bottom: 3%;
}

.logo {
  height: 60px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.nav-menu li + li {
  margin-left: 20px;
}

.nav-menu a {
  color:aliceblue;
  text-decoration: none;
}
