.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #0077c2;
  width: 100%;
  margin-bottom: 3%;
  box-sizing: border-box;
}

.logo {
  height: 60px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.nav-menu li + li {
  margin-left: 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  position: relative;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.nav-menu a:hover::before {
  transform: scaleY(1);
}

.nav-menu a.active {
  background-color: #0059b3;
}
