.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e304a;
  padding: 20px;
  align-items: center;
  margin-top: 3%;
}

.social-media a + a {
  margin-left: 20px;
}

.social-media i {
  font-size: 20px;
  color: #333;
}

.social-media i:hover {
  color: #555;
}

.footer .copyright {
  font-size: 14px;
  color: #d9d9d9;
}
