.PopUpPlotDetails .close-btn {
  background-color: #fff;
  border: none;
  color: #0072ff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.PopUpPlotDetails .close-btn:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .PopUpPlotDetails {
    max-width: 300px;
  }
}

button{
  color:rebeccapurple;
}